In [2]:
import pandas as pd


def build_dataframe() -> pd.DataFrame:
    data = {
        "age": [25, 30, 22, 45, 35, 28, 50, 41],
        "salaire": [2800.0, 3200.0, 2100.0, 5000.0, 3800.0, 2600.0, 6200.0, 4500.0],
        "departement": ["IT", "IT", "HR", "Finance", "IT", "HR", "Finance", "IT"],
    }

    df = pd.DataFrame(data)
    return df


if __name__ == "__main__":
    df = build_dataframe()

    print(df)
    print("Moyenne age :", df["age"].mean())
    print("Moyenne salaire :", df["salaire"].mean())
    print("IT count :", (df["departement"] == "IT").sum())

   age  salaire departement
0   25   2800.0          IT
1   30   3200.0          IT
2   22   2100.0          HR
3   45   5000.0     Finance
4   35   3800.0          IT
5   28   2600.0          HR
6   50   6200.0     Finance
7   41   4500.0          IT
Moyenne age : 34.5
Moyenne salaire : 3775.0
IT count : 4